@use 'keyframes';

*{ box-sizing:border-box }
html,body{ height:100% }
body{
  margin:0; background:var(--bg); color:var(--fg);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, "Noto Sans", sans-serif;
}
img{ max-width:100%; height:auto; display:block; } 
.imgpropia{ max-width:20%; height:auto; display:block;}


a{ color:inherit; text-decoration:none }
.sr-only{ position:absolute; width:1px; height:1px; overflow:hidden; clip:rect(0,0,0,0); white-space:nowrap }
