@use 'media-queris';
@use 'mixins';
@use 'variables';
@use 'keyframes';

footer{
    display: flex;
    justify-content: flex-end;
    a{
    @include mixins.button(white);    
    border-radius: 0.3rem;    
    margin:0.1rem;
    text-decoration: none;         
    color: black;
    background: white;
    padding: 1rem;
    -webkit-animation: blink-1 0.6s both;
	        animation: blink-1 0.6s both;
       &:hover{
            background:rgb(64, 145, 238);
            color:white;
        	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;

        }
        @include media-queris.mobile{
            margin: 0rem;
        }
    }
}
