@use 'media-queris';
@use 'mixins';
@use 'variables';
@use 'keyframes';
.header{
  position:sticky; top:0; z-index:10; backdrop-filter:saturate(1.2) blur(8px);
  background: color-mix(in oklab, var(--bg), transparent 20%);
  border-bottom: 1px solid color-mix(in oklab, var(--fg), transparent 88%);
}
.nav{ display:flex; align-items:center; justify-content:space-between; gap: var(--space-2) }
.nav__logo{ display:flex; align-items:center; gap:.6rem; font-weight:800 }
.nav__toggle{ display:inline-flex; border:0; background:transparent; padding:.6rem; border-radius:10px; cursor:pointer;color:white; }
.nav__menu{ display:none; }
.nav__link{ padding:.6rem .9rem; border-radius:10px }
.nav__link:hover, .nav__link:focus-visible{ background: color-mix(in oklab, var(--fg), transparent 90%) }
@media (min-width: 900px){
  .nav__toggle{ display:none }
  .nav__menu{ display:flex; gap:.5rem;  }
}
@media (max-width: 653px){
  .nav__menu{display:flex; flex-wrap: wrap;  justify-content: space-around; flex-direction: column;}
  .nav{    display: flex
;
    gap: var(--space-2);
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;}
}
