@use 'media-queris';
@use 'mixins';
@use 'keyframes';
@use 'variables';
@forward 'tokens';
@forward 'base';
@forward 'layout';
@forward 'header';
@forward 'card';

main{
    color:white;
    /*index*/
    .maindex{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    .titulopresentacion{
        display: block;
        width: 80vw;
        font-size: 3rem;
        padding-top: 5rem;
        text-align: center;
        color: antiquewhite;
        font-family: variables.$tipografia-prp;
        font-weight: 200;
        font-style: normal;
        span{
            color: rgb(231, 188, 135);
            &:hover{color:rgb(228, 156, 68);}
        }
        @include media-queris.laptops{width: 80vw;font-size: 2rem;padding-top:2rem}
        @include media-queris.mobile{padding-top:8rem;}
    }
    h2.trabajospresentacion{
        padding: 4rem;
        font-size: 4.9rem;
        width: 70vw;
        text-align: center;
        color: rgb(247, 174, 86);
        font-family: variables.$tipografia-sec;
         font-optical-sizing: auto;
        font-weight:200;
        font-style: normal;
        &:hover{
            transition:1s;
            font-size: 5rem;
            color: rgb(238, 138, 15);
             @include media-queris.laptops{width: 80vw;font-size: 3.3rem;}
            @include media-queris.mobile{font-size: 2.1rem;}
            }
         @include media-queris.laptops{width: 80vw;font-size: 3rem;padding: 2rem;}
         @include media-queris.mobile{font-size: 2rem;}
    }
    }
    .imgproyectos{
        display:flex;
            justify-content: space-evenly;            
            @include media-queris.mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .card{       
        border:0;    
        color:white;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        background: linear-gradient(90deg, rgba(27, 4, 5, 1.000) 0.000%, rgba(58, 11, 0, 1.000) 16.667%, rgba(94, 27, 0, 1.000) 33.333%, rgba(132, 51, 0, 1.000) 50.000%, rgba(166, 80, 1, 1.000) 66.667%, rgba(194, 112, 13, 1.000) 83.333%, rgba(212, 143, 28, 1.000) 100.000%);
        @include media-queris.mobile{margin:1rem}
        @include media-queris.laptops{width: 18rem!important; }
                
            a{
                @include mixins.button(orange);
                width: 10vw;
                align-content: center;
                margin:1rem;
                @include media-queris.mobile{display: inline-table;}                
            }
        }
    }
    /*portfolio*/
    .maindexport{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include media-queris.mobile{
    position:absolute;
    top:10rem;
    display:flow;      
    }
    .tituloproyectos{
        color:rgb(255, 255, 255);
        background: linear-gradient(45deg, rgba(218, 197, 116, 1.000) 0.000%, rgba(208, 143, 23, 1.000) 25.000%, rgba(178, 72, 0, 1.000) 50.000%, rgba(134, 0, 0, 1.000) 75.000%, rgba(80, 0, 0, 1.000) 100.000%);/* Degradado de izquierda a derecha con tres colores */
        background-clip: text; /* Recorta el fondo a la forma del texto */
        color: transparent; /* Hace que el color de relleno del texto sea transparente */
        font-size: 5rem;
        padding: 3rem;
        display: flex;
        justify-content: center;   
        font-family: variables.$tipografia-prp;        
        @include media-queris.laptops{
            font-size: 4rem;
            padding: 2rem;
        }
        @include media-queris.mobile{
            display: flow;
        }
    }
    .subtituloproyectos{
        color:rgb(255, 255, 255);      
        padding:2rem;
        font-size: 5rem;        
        display: flex;        
        font-family: variables.$tipografia-sec;      
        -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;  
            @include media-queris.laptops{
            font-size: 2rem;
            padding: 0.5rem;
            display: flow;
        }
        }
    }
   .imgportfolio{    
    @include media-queris.mobile{
        position: absolute;
        top:33rem;
    }
    ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    li{                
        width: 23rem;
        padding: 1rem;
        list-style-type: none;
        gap:1rem
        
        img{
            border:0!important;
            padding:0!important;
            border-radius:2rem!important;
        }
        .bounce-in-top {
	        -webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
        }
            @include media-queris.laptops{
            width: 10rem;
            padding:1rem;
        }

    }
   }    
   
}
button.shake-horizontal{
    @include mixins.button(orange);
    padding:1rem;
    border-radius: 1rem;
    align-content: right;
}
   /*quiensoy*/

    .tituloquiensoy{
     padding-right: 10rem;
    display: flow;
    text-align: right;      
    @include media-queris.mobile{padding-right: 0;}
        h1{
        font-family: system-ui;
        font-size: 4rem;
        padding: 1rem;
        color:rgb(228, 156, 68);
        font-family: variables.$tipografia-sec;
        	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        @include media-queris.mobile{font-size: 2.3rem;text-align: center;}

        }
        h2{
        font-size: xx-large;
        font-family: variables.$tipografia-sec;
        padding: 1rem;
        color:antiquewhite;
        @include media-queris.mobile{text-align: center; font-size: 1.2rem;}
        }
    }
    .sobremi{
        color: white;
        display: flex;
        @include media-queris.mobile{display: flow-root;}
        p{
        font-size: 2rem;
        font-family: variables.$tipografia-sec;
        width: 50vw;
        padding: 3rem;
        padding-left: 1rem;
        margin: 5rem;
        @include media-queris.laptops{font-size: 1.4rem;}
        @include media-queris.mobile{width: 95vw;padding: 0rem;padding-left: 0rem; margin: 0rem;font-size: 1.2rem;text-align: center;align-content: center;}
        }
        img{
           width: 30vw;
           margin-left: 7rem;
           @include media-queris.mobile{margin-left:2rem;width: 80vw;margin-top: 2rem;}
        }
    }

}
.mainquiensoy{@include media-queris.mobile{position: absolute;top:11rem;}}