    .buttonnr{
        background: #d65858;
        border-color: orange;
        color: orange;
        &:hover{
            background: orange;
            border-color: black;
            color:black;            
        }
    }

    @mixin button($color, $hover-color:black) {
        background: #d1571f;
        border-color: orange;
        color: $color;
        &:hover{
            background: orange;
            border-color: black;
            color:$hover-color;            
        }
    }