$tipografia-prp: "DM Serif Text", serif;
$tipografia-nav: "Bebas Neue", sans-serif;
$tipografia-tlos: "Cinzel", serif;
$tipografia-ttlossec:"Edu NSW ACT Cursive", cursive;
/*colores variables*/
$color-orange: #d65858;
$color-white: #ffffff;
$color-black: #000000;