@use 'mixins';
@use 'variables';
@use 'header';
@use 'main';
@use 'footer';
@use 'keyframes';

body{margin:0; padding: 0; background: black!important;}

.bg-body-tertiary {
    background-color:black!important;
}